<div class="home-container" >

  <header class="user-header">
    <img src=""  alt="Avatar do usuário" class="user-avatar">
    <div class="user-info">
      <span class="user-name">user name</span>
      <span class="user-level">user level</span>
    </div>
  </header>

  <section class="content-section">
    <h2 class="section-title">Playlists</h2>
    <div class="horizontal-scroll-container">
      <div class="scroll-item">
        <img src="" alt="Capa da playlist" class="item-image">
        <span class="item-name">nome da playlist</span>
      </div>
    </div>
  </section>


  <section class="content-section">
    <h2 class="section-title">Artistas</h2>
    <div class="horizontal-scroll-container">
      <div class="scroll-item">
        <img  alt="Foto do artista" class="item-image artist-image">
        <span class="item-name">nome artista</span>
      </div>
    </div>
  </section>

  <section class="content-section">
    <h2 class="section-title">Ouvidas recentemente</h2>
    <ul class="song-list">
      <li class="song-item" >
        <img src="" alt="Capa do álbum da música" class="song-image">
        <div class="song-details">
          <span class="song-name">nome musica</span>
          <span class="song-artist-streams">artista</span>
        </div>
        <button class="more-options-btn">
          <svg xmlns="[http://www.w3.org/2000/svg](http://www.w3.org/2000/svg)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
        </button>
      </li>
    </ul>
  </section>

</div>

<app-nav-bar></app-nav-bar>