<div class="login-container">
  <div class="login-card">
    <h1 class="login-titulo">Entrar</h1>

    <form class="login-form" (ngSubmit)="fazerLogin()" #loginForm="ngForm">
      
      <div class="form-group">
        <label class="label-input" for="login">Login ou E-mail</label>
        <input type="text" id="login" class="input-padrao" name="login" placeholder="Digite seu login ou e-mail" [(ngModel)]="credentials.login" required>
      </div>

      <div class="form-group">
        <label class="label-input" for="password">Senha</label>
        <input type="password" id="password" class="input-padrao" name="password" placeholder="Digite sua senha" [(ngModel)]="credentials.senha" required>
      </div>
      <button type="button" class="bnt-primary" >
        <a href = "/cadastro" style="text-decoration: none; color: white;"> Realizar Cadastro</a>       
      </button>
      
      <button type="submit" class="bnt-primary" [disabled]="!loginForm.form.valid">
        Entrar
      </button>
      
    </form>
  </div>
</div>