<div class="form-container">
  <h2 class="form-title">Criar Nova Playlist</h2>
  <p class="form-subtitle">Dê um nome à sua nova coleção de músicas.</p>


  <form >
    
    <div class="input-group">
      <label for="playlistName">Nome da Playlist</label>
      <input 
        type="text" 
        id="playlistName" 
        name="playlistName"
        placeholder="Ex: As Melhores do Indie"
        required>
    </div>


    <button type="submit" class="bnt-primary" >
      Criar Playlist
    </button>
  </form>
</div>
