<div class="page-container">
  <h2 class="page-title">Minhas Playlists</h2>
  <button class="bnt-primary" routerLink="/createPlaylist">Adicionar playlist</button>
  <div style="margin-bottom: 20px;"></div>
  <div class="loader-container" *ngIf="isLoading">
    <div class="loader"></div>
  </div>

 
  <div class="no-results" *ngIf="!isLoading && playlists.length === 0">
    <p>Você ainda não criou nenhuma playlist.</p>
    <button class="bnt-primary" routerLink="/createPlaylist">Criar minha primeira playlist</button>
  </div>


  <div class="playlists-grid" *ngIf="!isLoading && playlists.length > 0">
    <div 
      class="playlist-card" 
      *ngFor="let playlist of playlists" 
      (click)="verPlaylist(playlist.id)"
      title="Ver playlist {{ playlist.nome }}">
      
      <div class="card-image-container">
        <img [src]="playlist.imageUrl" alt="Capa da playlist {{ playlist.nome }}" class="card-image">
        <div class="play-icon-overlay">
          <svg xmlns="[http://www.w3.org/2000/svg](http://www.w3.org/2000/svg)" width="48" height="48" viewBox="0 0 24 24" fill="#FFFFFF"><path d="M8 5v14l11-7z"/></svg>
        </div>
      </div>
      
      <div class="card-info">
        <span class="playlist-name">{{ playlist.nome }}</span>

        <button class="delete-btn" (click)="deletarPlaylist(playlist.id)">
          <span class="material-icons">delete</span>
        </button>
      </div>
    </div>
  </div>
</div>

<app-nav-bar></app-nav-bar>
