<div class="page-container">
  <h2 class="page-title">Minhas Playlists</h2>

  <div class="playlists-grid" >
    <div 
      class="playlist-card" 
      
      title="Ver playlist">
      
      <div class="card-image-container">
        <img src="" alt="Capa da playlist" class="card-image">
        <div class="play-icon-overlay">
          <svg xmlns="[http://www.w3.org/2000/svg](http://www.w3.org/2000/svg)" width="48" height="48" viewBox="0 0 24 24" fill="#FFFFFF" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M8 5v14l11-7z"/></svg>
        </div>
      </div>
      
      <div class="card-info">
        <span class="playlist-name">nome da playlist</span>
        <span class="playlist-details">numero de músicas</span>
      </div>
    </div>
  </div>

</div>

<app-nav-bar></app-nav-bar>