<div class="page-container">
  <h2 class="page-title">Adicionar Música à Playlist</h2>
  
  <div class="search-container">
    <input 
      type="text" 
      class="search-input"
      placeholder="Digite o nome da música ou artista..."
    >
  </div>

 
  <div class="results-container">
    <p class="no-results">
      Nenhum resultado encontrado para: 
    </p>

    <ul class="music-list">
      <li  class="music-item">
        <div class="music-info">
          <span class="music-name">nome musica</span>
          <span class="music-artist">Artista</span>
        </div>
        <button class="add-btn"title="Adicionar à playlist">
          <svg xmlns="[http://www.w3.org/2000/svg](http://www.w3.org/2000/svg)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
        </button>
      </li>
    </ul>
  </div>
</div>


<app-add-music-to-playlist></app-add-music-to-playlist>
<app-nav-bar></app-nav-bar>
