<div class="playlist-container">
  <div class="top-bar">
    <button class="back-button options-btn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-arrow-back">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
      </svg>
    </button>
    <span class="from-text">FROM "PLAYLISTS"</span>
    <button class="more-options-button options-btn">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon-more-options">
        <path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
      </svg>
    </button>
  </div>

  <div class="playlist-header">
    <div class="playlist-cover-wrapper">
      <img src="assets/images/lofi-loft-cover.jpg" alt="Lofi Loft Playlist Cover" class="playlist-cover">
    </div>
    <h1 class="playlist-title">Lofi Loft</h1>
    <p class="playlist-description">soft. chill. dreamy. lo-fi beats</p>
  </div>

  <div class="song-list-container">
    <div class = "card-music">
        <div class="img-music">
             <img src="assets/images/lofi-loft-cover.jpg" alt="Lofi Loft Playlist Cover" class="playlist-cover">
        </div>
        <div class = "text-music">
            <h4>Title music</h4>
            <span>Artista</span>
        </div>
      
        <a href="">:</a>
    </div>

    <div class = "card-music">
        <div class="img-music">
             <img src="assets/images/lofi-loft-cover.jpg" alt="Lofi Loft Playlist Cover" class="playlist-cover">
        </div>
        <div class = "text-music">
            <h4>Title music</h4>
            <span>Artista</span>
        </div>
      
        <a href="">:</a>
    </div>

    <div class = "card-music">
        <div class="img-music">
             <img src="assets/images/lofi-loft-cover.jpg" alt="Lofi Loft Playlist Cover" class="playlist-cover">
        </div>
        <div class = "text-music">
            <h4>Title music</h4>
            <span>Artista</span>
        </div>
      
        <a href="">:</a>
    </div>

    <div class = "card-music">
        <div class="img-music">
             <img src="assets/images/lofi-loft-cover.jpg" alt="Lofi Loft Playlist Cover" class="playlist-cover">
        </div>
        <div class = "text-music">
            <h4>Title music</h4>
            <span>Artista</span>
        </div>
      
        <a href="">:</a>
    </div>

    </div>
</div>
